body{
	font-family: 'Oswald', sans-serif;
	background-image: url('images/GOVGRID_GRADIENT_GRAY.jpg');
	background-size: cover;
}
.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: 1em;
  border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}
.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
	width: 50%;
	text-align: center;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.name, .image, .reputation, .postcount, .score{
	padding: 10px;
	margin: 0 auto;
}
.search-results{
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	padding: 30px;
}
